*, *::before, *::after{
    box-sizing: border-box;
    font-family: comfortaa;
    font-weight: bold;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #28a0e1, #3e61ea);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(141, 214, 214, .75);
}

.calculator-grid button:hover {
    background-color: rgb(141, 214, 214, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
}

.previous-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.current-operand{
    color: white;
    font-size: 30px;
    word-break: break-all;
    word-wrap: break-word;
}